body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.loader {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
}